{% extends '::base.html.twig' %}

{% block title %}
    {{ parent() ~ ' - ' ~ 'views.new.creation'|trans({'%entity%': 'User'}) }}
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" type="text/css" media="screen, projection" href="{{ asset('bundles/dduser/css/userbuncle.css') }}" />
{% endblock stylesheets %}

{% block body -%}
    <h1>{{ 'views.new.creation'|trans({'%entity%': 'User'}) }}</h1>

    {{ form_start(form, { "attr" : { "class" : "well" } }) }}
    {% include 'DdUserBundle:User:form.html.twig' with { 'form' : form } %}
    <div>
        <button type="submit" class="btn btn-primary">
            <span class="glyphicon glyphicon-ok"></span> {{ 'views.new.create'|trans }}
        </button>
    </div>
    {{ form_end(form) }}

        <div class="well-sm">
    <ul class="record_actions list-inline">
        <li>
            <a href="{{ path('admin_user') }}">
                <span class="glyphicon glyphicon-list"></span>
                {{ 'views.recordactions.backtothelist'|trans }}
            </a>
        </li>
            </ul>
</div>{% endblock %}
